.container .col-1 {
  width: 8.33333%;
}

.container .col-2 {
  width: 16.66667%;
}

.container .col-3 {
  width: 25%;
}

.container .col-4 {
  width: 33.33333%;
}

.container .col-5 {
  width: 41.66667%;
}

.container .col-6 {
  width: 50%;
}

.container .col-7 {
  width: 58.33333%;
}

.container .col-8 {
  width: 66.66667%;
}

.container .col-9 {
  width: 75%;
}

.container .col-10 {
  width: 83.33333%;
}

.container .col-11 {
  width: 91.66667%;
}

.container .col-12 {
  width: 100%;
}

.container .row-1 {
  width: 1000px;
}

.container .row-2 {
  width: 1000px;
}

.container .row-3 {
  width: 1000px;
}

.container .row-4 {
  width: 1000px;
}

.container .row-5 {
  width: 1000px;
}

.container .row-6 {
  width: 1000px;
}

.container .row-7 {
  width: 1000px;
}

.container .row-8 {
  width: 1000px;
}

.container .row-9 {
  width: 1000px;
}

.container .row-10 {
  width: 1000px;
}

.container .row-11 {
  width: 1000px;
}

.container .row-12 {
  width: 1000px;
}

* {
  margin: 0;
  padding: 0;
  display: flex;
}

.landingPage {
  flex-direction: row;
}

.landingPage div {
  background-color: green;
}
