.container .col-1 {
  width: 8.33333%; }

.container .col-2 {
  width: 16.66667%; }

.container .col-3 {
  width: 25%; }

.container .col-4 {
  width: 33.33333%; }

.container .col-5 {
  width: 41.66667%; }

.container .col-6 {
  width: 50%; }

.container .col-7 {
  width: 58.33333%; }

.container .col-8 {
  width: 66.66667%; }

.container .col-9 {
  width: 75%; }

.container .col-10 {
  width: 83.33333%; }

.container .col-11 {
  width: 91.66667%; }

.container .col-12 {
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: wheat; }

.container {
  width: 1024px; }

@media screen and (max-width: 767px) {
  body * {
    flex-direction: column;
    display: flex; }
    body * section {
      display: flex;
      flex-direction: column; }
    body * .hamburger {
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      background-color: transparent;
      margin: 0;
      border: 0; }
    body * .hamburger-box {
      display: inline-block;
      width: 40px;
      height: 24px;
      position: relative; }
    body * .hamburger .navigation {
      transition: transform 0.3s 0.1s ease-in-out; }
    body * .hamburger-inner {
      width: 100%;
      height: 3px;
      position: absolute;
      background-color: lightblue;
      left: 0;
      top: 50%;
      transition: background-color 0.3s 0.1s ease-in-out; }
    body * .hamburger-active {
      transform: translateX(60vw); }
    body * .hamburger-inner::before,
    body * .hamburger-inner::after {
      content: "";
      left: 0;
      width: 100%;
      height: 3px;
      position: absolute;
      background-color: lightblue;
      transition: transform 0.3s 0.1s ease-in-out; }
    body * .hamburger-inner::before {
      top: -10px; }
    body * .hamburger-inner::after {
      top: 10px; }
    body * .hamburger-active .hamburger-inner {
      background-color: transparent; }
    body * .hamburger-active .hamburger-inner:before {
      transform: translateY(10px) rotate(45deg); }
    body * .hamburger-active .hamburger-inner:after {
      transform: translateY(-10px) rotate(-45deg); }
    body * .navigation {
      height: 80vh;
      width: 60vw;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-60vw); }
    body * .navigation-active {
      transform: translateX(0vw);
      height: 80vh;
      position: absolute;
      top: 10vh; } }

body * .slides img {
  width: 1024px;
  height: 80vh; }

@media screen and (min-width: 768px) {
  body * {
    background-color: black;
    display: flex;
    flex-direction: row; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 10vh; }
  header li {
    margin: 10px; }

body {
  background-image: url("../images/startbackgroundimage.jpg");
  background-size: cover; }

section {
  height: 80vh; }

footer {
  height: 10vh;
  background-color: black; }

* {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

.container {
  width: 1024px;
  margin: auto; }

.check {
  height: 100px;
  width: 200px;
  color: blue;
  background-color: brown; }
