@import "partials/grid";
@import "partials/landingPage";
@import "partials/media";

* {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: auto;
}
